/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  width: auto;
  height: auto;
}

.board {
  width: 700px;
  height: 500px;
  background-color: #FBEC5D;
}

.user {
  z-index: 1;
}

/*#shuriken {
  animation:spin 4s linear infinite;
  -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);} }
/**/

/*.enemy {
    animation-name: spinnerRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    //transform-origin: 50% 50%;
}



@keyframes spinnerRotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}*/

